.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin-top: 120px;
}
.cart-container{
    width: 100%;
    background-color: rgba(255, 153, 0, 0.3);
}